# Python
__pycache__/

# vscode
.vscode/

# Virtual Environment
.venv

# Kivy / SDK Tools
bin/

# Buildozer
.buildozer/
*.buildozervenv/

# Profiler
profiler/data/

# Backups
backups/

# Media
*.wav
*.mp3
*.m4a

# db
*.db
*.db-shm
*.db-wal

playground.py
